<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Cornucopia</title>
  <link rel="stylesheet" href="main.css">
</head>

<body>
  <% if (user.usertype=='seller') { %>
  <div class="update">
    <div class="newitem">
      <form action="/seller/addp" enctype="multipart/form-data" method="post">
        <input type="text" name="itemname" id="name" placeholder="name" />
        <br />
        <textarea placeholder="Description" name="desc"></textarea><br />
        <input placeholder="price" type="number" name="price" /><br />
        <input type="file" name="img" id="img" /><br />
        <input placeholder="Stock" type="number" name="stock" id="stock" /><br />
        <input type="submit" value="SUBMIT" />
      </form>
    </div>
  </div>
  <div class="add" onclick="openadd(this)"><i class="fas fa-plus"></i></div>

  <script>
    const openadd = (btn) => {
      btn.style.transform = 'rotate(45deg)';
      btn.setAttribute('onclick', 'closeadd(this)');
      document.querySelector('.update').style.height = '100vh';
      document.querySelector('#main').style.display = 'none';
    };
    const closeadd = (btn) => {
      btn.style.transform = 'rotate(90deg)';
      btn.setAttribute('onclick', 'openadd(this)');
      document.querySelector('.update').style.height = '0vh';
      document.querySelector('#main').style.display = 'block';
    };
  </script>
  <% } %> <%- include ('partials/sidenav') %> <%- include ('partials/cart') %>
  <div id="main">
    <%- include ('partials/header') %>
    <div class="dash">
      <div class="items">
        <% if (user.usertype =='seller') { %>
        <% for( let i = 0; i <user.products.length; i++ ) { %>
        <% element = user.products[i] %>

        <div class="products">
          <a href="item<%= element._id %> ">
            <%= element.name %> <br />
            <%= element.price %> <br />
            <img src="data:image/jpeg;base64,<%=element.image.toString('base64')%>" alt="" class="dash-img" />
          </a>
        </div>
        <% } } else if(user.usertype="buyer") {  for( let i = 0; i < items.length; i++ ) { %>
        <% element = items[i] %>
        <a href="item<%= element._id %> ">
          <div class="products">
            <%= element.name %> <br />
            <%= element.price %> <br />
            <img src="data:image/jpeg;base64,<%=element.image.toString('base64')%>" alt="" class="dash-img" /></div>
        </a>
        <% }} %>
      </div>
    </div>
  </div>

 
  <script src="https://kit.fontawesome.com/c5b9bcd338.js" crossorigin="anonymous"></script>
</body>

</html>