<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Coronacopia</title>
    <link rel="stylesheet" href="item.css">
  </head>

  <body>
    <div class="container"></div>
    <img
      src="data:image/jpeg;base64,<%=item.image.toString('base64')%>"
      class="item-image"
    />
    <div class="text">
      <div class="name"><%= item.name %></div>
      <div class="price text-center">
        <div class="label">special price</div>
        <%= "$"+String(item.price) %> &nbsp;<span class="striked-price">
          <%= "$"+String(Math.floor( item.price*120/100)) %>
        </span>
      </div>
      <% if (user.usertype=='seller') { %>
      <div class="button-container">
        <a href="remove<%= item._id %> "
          ><button class="inline btn buy">Remove</button></a
        >
        <a href="update<%= item._id %> ">
          <button class="inline btn add">Update</button></a
        >
        
      </div>
      <% } else { %>
      <div class="button-container">
        <button class="inline btn buy" onclick="buy('<%= item._id%>')">
          Buy Now
        </button>

        <a href="a2c<%= item._id %> ">
          <button class="inline btn add">Add to Cart</button>
        </a>
      </div>
      <% } %>
      <div class="desc text-center"><%= item.description %></div>

      <div class="left text-center"><%= item.quantity %> Pieces left !</div>
    </div>
    <% if (user.usertype == 'seller') { %>
      <h1 class="title pro">Orders</h1>
      <div class="items">
        <% for( let i = 0; i < item.customers.length; i++ ) { element = item.customers[i] %>
  
        <div class="products">
          <%= element.name %> <br />
          <%= element.email %> <br />
          <img
            src="https://api.adorable.io/avatars/300/<%= element.name %>"
            alt=""
            class="dash-img"
          />
        </div>
        <% } %>
      </div>
    <% } %>

    

    <script>
      async function buy(id) {
        console.log('hello');
        let fe = await fetch(`/purchase${id}`, {
          method: 'POST',
          headers: {
            'content-type': 'application/json',
          },
          body: JSON.stringify({items: id}),
        });
        console.log(fe);
        window.location.pathname = '/buyer';
      }
    </script>
    <script
      src="https://kit.fontawesome.com/c5b9bcd338.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
