<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Coronacopia</title>
    <link rel="stylesheet" href="main.css" />

  </head>

  <body>
    <div class="profiler">
      <div class="text-wrapper info">
        <div class="text"><%= user.name %></div>
        <div class="text"><%= user.usertype %></div>
        <div class="text"><%= user.email %></div>
      </div>
      <div class="text-wrapper">
        <img
          src="https://api.adorable.io/avatars/3
        00/<%= user.name %> "
        class="smile"
        />
      </div>
    </div>

    <% if(user.usertype == "seller"){ %>
    <h1 class="title pro">Customers</h1>
    <%}else{%>
    <h1 class="title pro">Purchase History</h1>
    <%}%>

    <div class="items">
      <% for( let i = 0; i < his.length; i++ ) { element = his[i] %>

      <div class="products">
        <a href="item<%= element._id %> ">
          <%= element.name %> <br />
          <%= element.email %> <br />
          <%= datearr[i] %> <% if(user.usertype == "seller"){ %>
          <img
            src="https://api.adorable.io/avatars/300/<%=element.name%>"
            alt=""
            class="dash-img"
          />
          <%}else{%> <%= '$'+element.price %> <br />
          <img
            src="data:image/jpeg;base64,<%=element.image.toString('base64')%>"
            alt=""
            class="dash-img"
          />
          <%}%>
        </a>
      </div>
      <% } %>
    </div>
  </body>
</html>
